{% extends "base/base_layout.html" %}
{% block sidebar_option %}
      sidebar-collapse
{% endblock %}
{% block content %}
<div class="content-wrapper">
  <div class="content-header">
  </div>
   <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h1>Lochin Mobil Xavfsizlik Platformasi haqida</h1>
              
                  <p class="lead">
                    Lochin Mobil Xavfsizlik Platformasi (Lochin) Android, iOS va Windows Mobile uchun mobil ilovalar xavfsizligini tadqiq qilish platformasidir. Lochin turli xil foydalanish holatlari uchun ishlatilishi mumkin, masalan, mobil ilovalar xavfsizligi, penetratsion testlar, zararli dasturlarni tahlil qilish va maxfiylik tahlili. Statik tahlilchi APK, IPA, APPX kabi mashhur mobil ilova binarlarini va manba kodini qo'llab-quvvatlaydi. Shu bilan birga, Dinamik tahlilchi ham Android, ham iOS ilovalarini qo'llab-quvvatlaydi va interaktiv instrumentatsiyalangan testlar, ish vaqti ma'lumotlari va tarmoq trafikini tahlil qilish uchun platformani taklif qiladi. Lochin REST API va CLI vositalari orqali DevSecOps yoki CI/CD pipeline bilan muammosiz integratsiyalashadi, xavfsizlik ish jarayonini osonlik bilan yaxshilaydi.
                 </p>
                  <p> <strong>Muallif:</strong> <a href="//twitter.com/ajinabraham">Ajin Abraham</a> </p>      
                  <h2>Faol Hamkorlar</h2>
                    <p><a href="//github.com/magaofei">Magaofei</a></p>
                    <p><a href="//github.com/matandobr">Matan Dobrushin</a></p>
                    <p><a href="//github.com/superpoussin22">Vincent Nadal</a></p>
          </div>
        </div>
       </div>
     </div>
    </div>
</div>
{% endblock %}
